.main{
    padding: 10px;
    height: 100vh;
   
}
.layout{
    display: flex;
}


.sidebar{
    min-height: 100%;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #675D50;
    box-shadow: 0 0 2px gray;
    margin-right: 20px;
}

.content{
    height: 100%;
    width: 100%;
}

.header{
    height: 10vh;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 2px gray;
}
.body{

    height: 85vh;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 2px gray;
}

.logo h6{
    text-align: center;
    font-size: 1.5rem;
    margin: 20px 0px;
    color: white;
}

.menu{
    margin-top: 50px;
}
.menu-item{
    margin-top: 30px;
}
.menu-item a{
 
    color:white;
    text-decoration : none;
    font-size: 1.2rem;
}

.icon{
    margin-left: 5px;
    margin-right: 5px;
}

.header-content{
    padding-top: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    
}

.header-content a{
    text-decoration: none;
    text-align: center;
    margin-left: 5px;
    text-transform: uppercase;
}